<div *ngIf="af.auth | async" class="cardlist">
	<div *ngFor="let note of notes | async | reverse">
		<div class="card">
			<md-card>
				<md-card-header>
					<!--<img md-card-avatar src="path/to/img.png">-->
					<!--<md-card-title>On</md-card-title>-->

				</md-card-header>
                                <md-card-title>{{convert(note.ondate) | date: 'MMMM dd, yyyy'}}</md-card-title>
				<md-card-subtitle>{{convert(note.ondate) | date: 'MMMM dd, yyyy'}}</md-card-subtitle>
				<img md-card-image src="study.jpg">
				<md-card-content style="display:flex; flex-direction:column">
                    
                    <md-checkbox *ngIf="isToday(note.ondate) || !note.words" [disabled]="true" color="primary" [checked]="note.words">
                         <span *ngIf="note.words">  <del> Study GRE Words with Kumaran </del> </span>
                          <span *ngIf="!note.words">  Study GRE Words with Kumaran  </span>
                     </md-checkbox>

                     <md-checkbox *ngIf="isToday(note.ondate) || !note.rc" [disabled]="true" color="primary" [checked]="note.rc">
                                <span *ngIf="note.rc">  <del> Do a Reading Comprehension </del> </span>
                                <span *ngIf="!note.rc">  Do a Reading Comprehension  </span>

                     </md-checkbox>

                     <md-checkbox  *ngIf="isToday(note.ondate) || !note.tenwords" [disabled]="true" color="primary" [checked]="note.tenwords">
                              <span *ngIf="note.tenwords">  <del> Learn 10 new words </del> </span>
                            <span *ngIf="!note.tenwords">  <span> Learn 10 new words </span> </span>
                     </md-checkbox>

                     <md-checkbox *ngIf="isToday(note.ondate) || !note.editorial" [disabled]="true" color="primary" [checked]="note.editorial">
                              <span *ngIf="note.editorial">  <del> Read an editorial page </del> </span>
                            <span *ngIf="!note.editorial">  <span> Read an editorial page </span> </span>
                     </md-checkbox>


                     <md-checkbox *ngIf="isToday(note.ondate) || !note.mancomp" [disabled]="true" color="primary" [checked]="note.mancomp">
                              <span *ngIf="note.mancomp">  <del>  {{note.mandesc}} </del> </span>
                            <span *ngIf="!note.mancomp">  <span>  {{note.mandesc}} </span> </span>
                     </md-checkbox>
                     <md-checkbox *ngIf="isToday(note.ondate) || !note.othercomp" [disabled]="true" color="primary" [checked]="note.othercomp">
                              <span *ngIf="note.othercomp">   <del>  {{note.otherdesc}} </del> </span>
                           <span *ngIf="!note.othercomp">   <span>  {{note.otherdesc}} </span> </span>
                     </md-checkbox>
                     <md-checkbox *ngIf="isToday(note.ondate) || !note.testcomp" [disabled]="true" color="primary" [checked]="note.testcomp">
                              <span *ngIf="note.testcomp">  Test: <del> {{note.testdesc}} </del> </span>
                             <span *ngIf="!note.testcomp">  Test: <span> {{note.testdesc}} </span> </span>
                     </md-checkbox>
				</md-card-content>
                                <md-card-actions>
        <button md-button [routerLink]="['/detail/', note.$key]">EDIT</button>
   </md-card-actions>
			</md-card>
		</div>
	</div>
</div>

<div *ngIf="!(af.auth | async)" id="butLogin" (click)="login()" class="login">
	<h1> Login to see your checklist</h1>
</div>