<div *ngIf="af.auth | async" class="cardlist">
	<div *ngFor="let note of notes | async | reverse">
		<div class="card">
			<md-card>
				<md-card-header>
					<!--<img md-card-avatar src="path/to/img.png">-->
					<!--<md-card-title>On</md-card-title>-->

				</md-card-header>
				<md-card-subtitle>On {{note.ondate}}</md-card-subtitle>
				<img md-card-image src="study.jpg">
				<md-card-content style="display:flex; flex-direction:column">
                    
                    <md-checkbox [checked]="note.words">
                            Study GRE Words with Kumaran
                     </md-checkbox>

                     <md-checkbox [checked]="note.rc">
                            Do a Reading Comprehension
                     </md-checkbox>

                     <md-checkbox [checked]="note.tenwords">
                            Learn 10 new words
                     </md-checkbox>

                     <md-checkbox [checked]="note.editorial">
                            Read an editorial page
                     </md-checkbox>


                     <md-checkbox [checked]="note.mancomp">
                            {{note.mandesc}}
                     </md-checkbox>
                     <md-checkbox [checked]="note.othercomp">
                            {{note.otherdesc}}
                     </md-checkbox>
                     <md-checkbox [checked]="note.testcomp">
                            {{note.testdesc}}
                     </md-checkbox>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>

<div *ngIf="!(af.auth | async)" id="butLogin" (click)="login()" class="login">
	<h1> Login to see your checklist</h1>
</div>